
        .flex-Container{ 
            padding: 10px; 
            display: flex;  
            }
    
        

        #firstId {
             background-color:silver;
             text-align: justify;
             height: 600px; width: 500px; 
             margin-left: auto;
             margin-right: auto;
             padding: 50px;
             border-width: medium;
             border-style: solid;
             border-color: black
        }

        #secId {
           background-color: darksalmon;
           text-align: left;
           height: 600px; width: 500px; 
           margin-left: auto;
           margin-right: auto;
           padding: 50px;
           border-width: medium;
           border-style: solid;
           border-color:black
        }

        #thirdId {
            text-align: center;
            height: 600px; width: 500px; 
            margin-left: auto;
            margin-right: auto;
            background-color: gray;
            padding: 50px;
            border-width: medium;
            border-style: solid;
            border-color:black
        }
        .alineado {
            text-align: left;
        }
        
        #fourId {
            text-align: center;
            height: auto; width: auto; 
            background-color:cornflowerblue;
            padding: 50px;
            border-width: medium;
            border-style: solid;
            border-color:black 
        }
    